bin/
obj/
artifacts/
AppPackages/
BundleArtifacts/
.vs/
.vscode/
.github/
.idea/
*.sln.iml
*.user
*.suo
*.userosscache
*.sln.docstates
.vsconfig
*.cache
.cache/
*.tmp
*.temp
*.bak
*.swp
*.swn
*.orig
*.maui.cache
*.log
*.pdb
*.opendb
*.ipch
*.pidb
*.nupkg
*.snupkg
packages/
TestResults/
coverage/
*.coverage
*.coveragexml
coverage.*
_NCrunch_*
*.ncrunch*
*.DotSettings.user
*.dotCover
.DS_Store
Thumbs.db
ehthumbs.db
*.apk
*.aab
*.ipa
*.app
*.msix
*.msixbundle
*.appx
*.appxbundle
*.appinstaller
*.dSYM/
